.blur-in {
	-webkit-filter: blur(5px);
	filter: blur(5px);
	-webkit-animation: blur-in 0.5s ease-in forwards;
	animation: blur-in 0.5s ease-in forwards;
}

@-webkit-keyframes blur-in {
	0% {
		-webkit-filter: blur(5px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0);
		opacity: 1;
	}
}

@keyframes blur-in {
	0% {
		-webkit-filter: blur(5px);
		filter: blur(5px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}

zero-md {
	display: block;
	margin: 0 auto;
	max-width: 800px;
	padding: 0 20px;
	animation: blur-in 0.5s ease-in forwards;
}
